<div class="container"style="margin:5cm;margin-left:10cm;">
  <div class="btn-group">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhrDh7j_2SEIvmVM7WqNrObDCmhMHpGDRzLA0dVBWLoEJ6QFvH" routerLink="../fresher"><br>
    <button class="btn btn-secondary" routerLink="../fresher" style="width:3cm">I'm a Fresher</button>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="btn-group">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5E_m-B3LycP-bGVWmNlbBvVeHLZd247-bTAk5eziazysqGEqI"routerLink="../professional">
    <button class="btn btn-secondary" routerLink="../professional"style="width:3cm">I'm a Professional</button>
  </div>
</div>
